<% layout("../layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col col-8 offset-2">
      <h1>Update Listing</h1>
      <br />
      <form
        action="/listings/<%=listing._id%>?_method=PUT"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title of Place:</label>
          <input
            type="text"
            id="title"
            value="<%=listing.title%>"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Title is required!</div>
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label"
            >Describe what you provide:</label
          >
          <textarea
            type="text"
            id="desc"
            name="listing[description]"
            class="form-control"
            required
          >
<%=listing.description%></textarea
          >
          <div class="invalid-feedback">decription is required!</div>
        </div>
        <div class="mb-3">
          <label for="img" class="form-label"
            >Provide a valid image link:</label
          >
          <input
            type="text"
            id="img"
            value="<%=listing.image%>"
            name="listing[image]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">image is required!</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input
              type="number"
              id="price"
              value="<%=listing.price%>"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price is required!</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              id="country"
              value="<%=listing.country%>"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country is required!</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            id="location"
            value="<%=listing.location%>"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location is required!</div>
        </div>
        <br />
        <button class="btn btn-dark add-btn">UPDATE</button><br />
      </form>
    </div>
  </div>
</body>
