<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
      <label for="title">Title of Place:</label>
      <input
        type="text"
        id="title"
        name="listing[title]"
        value="<%= listing.title %>"
      /><br /><br />
      <label for="desc">Describe what you provide:</label>
      <input
        type="text"
        id="desc"
        name="listing[description]"
        value="<%= listing.description %>"
      /><br /><br />
      <label for="img">Provide a valid image link:</label>
      <input
        type="text"
        id="img"
        name="listing[image]"
        value="<%= listing.image %>"
      /><br /><br />
      <label for="country">Give Country:</label>
      <input
        type="text"
        id="country"
        name="listing[country]"
        value="<%= listing.country %>"
      /><br /><br />
      <label for="location">Give Exact location(City):</label>
      <input
        type="text"
        id="location"
        name="listing[location]"
        value="<%= listing.location %>"
      /><br /><br />
      <label for="price">How much you would charge:</label>
      <input
        type="text"
        id="price"
        name="listing[price]"
        value="<%= listing.price %>"
      /><br /><br />
      <button>Update</button>
    </form>
  </body>
</html>
