<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=listing.title%></title>
  </head>
  <body>
    <div class="post">
      <h1>Title:<%=listing.title%></h1>
      <p>Description:<%=listing.description%></p>
      <img src="<%=listing.image%>" alt="" />
      <p>Country:<%=listing.country%></p>
      <p>Location:<%=listing.location%></p>
      <p>Price: &#8377;<%=listing.price.toLocaleString("en-IN")%></p>
      <a href="/listings/<%=listing._id%>/edit">Edit this listing</a>
      <form action="/listings/<%=listing.id%>?_method=DELETE" method="post">
        <button>Delete this listing</button>
      </form>
    </div>
  </body>
</html>
